### SQL and SQLite:--

**SQL** is standad query language for managing and manipulating relational databases. **SQLite** is a self contained, serverless, and zero configuration database engine that is widely used for embedded database systems.

An Embedded database system is a database that is built directly into an application (software or device). Unlike traditional databases that run separately on a server, an embedded database is tightly integrated with the application itself.

**Characteristics:-**

1. Small size – requires less memory and storage.

2. High speed – because the application communicates directly with the database.

3. Self-contained – no need for a separate database server.

4. Easy to use – installing the application automatically includes the database.

**An embedded database is a built-in database inside an application**

In [2]:
import sqlite3

#### Connect to SQLite db

In [3]:
connection = sqlite3.connect('example.db')

In [5]:
connection     #db is created.

Then we need to create cursor object, that will iterate thr all the database files.`

In [6]:
cursor = connection.cursor()

#### Create a Table:--

In [8]:
cursor.execute('''
    create table if not exists employee(
        id integer primary key,
        name text not null,
        surname text not null,
        age integer,
        department text
    )
''')

# Commit the changes. without this commiting will not happen.
connection.commit()

In [10]:
connection.execute('''
    select * from employee
''')     #this means table is created

In [13]:
connection.execute('''
    insert into employee(name,surname,age,department)
    values('Ganesh','Gunjal',33,'Data Science'),
            ('Rasika','Rajguru',38,'Govt'),
            ('Sushma','Patil',31,'HR')
''')

connection.commit()

In [15]:
# select all rows from the employees:
cursor.execute('select * from employee')
rows = cursor.fetchall()

# Print the rows:
for row in rows:
    print(row)

(1, 'Ganesh', 'Gunjal', 33, 'Data Science')
(2, 'Rasika', 'Rajguru', 38, 'Govt')
(3, 'Sushma', 'Patil', 31, 'HR')
(4, 'Ganesh', 'Gunjal', 33, 'Data Science')
(5, 'Rasika', 'Rajguru', 38, 'Govt')
(6, 'Sushma', 'Patil', 31, 'HR')

#### Update the data in the table:

In [16]:
cursor.execute('''
    update employee 
    set name = 'Rashu'
    where id=5
''')
connection.commit()

In [18]:
cursor.execute('select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh', 'Gunjal', 33, 'Data Science')
(2, 'Rasika', 'Rajguru', 38, 'Govt')
(3, 'Sushma', 'Patil', 31, 'HR')
(4, 'Ganesh', 'Gunjal', 33, 'Data Science')
(5, 'Rashu', 'Rajguru', 38, 'Govt')
(6, 'Sushma', 'Patil', 31, 'HR')

#### Delete the record:-

In [19]:
cursor.execute('''
    delete from employee
    where id in (3,6)
''')

connection.commit()

In [20]:
cursor.execute('select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh', 'Gunjal', 33, 'Data Science')
(2, 'Rasika', 'Rajguru', 38, 'Govt')
(4, 'Ganesh', 'Gunjal', 33, 'Data Science')
(5, 'Rashu', 'Rajguru', 38, 'Govt')

### Working with sales data:--

#### Connect to sqlite db

In [21]:
connection = sqlite3.connect('Sales.db')
cursor = connection.cursor()

#### Create a table

In [22]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS tbl_sales (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_name TEXT NOT NULL,
        category TEXT,
        quantity INTEGER,
        price REAL,
        sale_date TEXT
    )
''')

connection.commit()

#### Insert data:

In [24]:
cursor.executemany('''
    INSERT INTO tbl_sales (product_name, category, quantity, price, sale_date)
    VALUES (?, ?, ?, ?, ?)
''', [
    ("Laptop", "Electronics", 2, 55000, "2025-08-01"),
    ("Phone", "Electronics", 5, 20000, "2025-08-02"),
    ("Shoes", "Fashion", 3, 2500, "2025-08-02"),
    ("Watch", "Fashion", 1, 7000, "2025-08-03"),
    ("Book", "Stationery", 10, 300, "2025-08-03")
])
connection.commit()

#### Fetch Data

In [25]:
cursor.execute('select * from tbl_sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 'Electronics', 2, 55000.0, '2025-08-01')
(2, 'Phone', 'Electronics', 5, 20000.0, '2025-08-02')
(3, 'Shoes', 'Fashion', 3, 2500.0, '2025-08-02')
(4, 'Watch', 'Fashion', 1, 7000.0, '2025-08-03')
(5, 'Book', 'Stationery', 10, 300.0, '2025-08-03')

### when we have to close the connection permanantly:-

In [26]:
connection.close()

In [27]:
cursor.execute('select * from tbl_sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

### error comes due to closed connection.