#### Create a database connection:-

In [1]:
import sqlite3

In [4]:
connection = sqlite3.connect('college.db')
cursor = connection.cursor()

#### Create a table:

In [5]:
cursor.execute('''
    create table students (
        id integer primary key, 
        student_name text not null,
        class text not null,
        grade text not null
    )
''')

connection.commit()

#### Insert data into table:--

In [7]:
cursor.execute('''
    insert into students(student_name,class,grade)
    values('Ganesh Gunjal','BE','A+')
    ''')

connection.commit()

In [8]:
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh Gunjal', 'BE', 'A+')

In [13]:
cursor.executemany('''
    insert into students(student_name,class,grade)
    values(?,?,?)''',[
        ('Rasika Rajguru','M Com','A++'),
        ('Sushma Patil','MBA','A++'),
        ('Chandu Bagul','MSc','A++')
    ])

connection.commit()

In [14]:
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh Gunjal', 'BE', 'A+')
(2, 'Rasika Rajguru', 'M Com', 'A++')
(3, 'Sushma Patil', 'MBA', 'A++')
(4, 'Chandu Bagul', 'MSc', 'A++')

#### Delete any record:--

In [15]:
cursor.execute('''
    delete from students
    where id = 4
''')
connection.commit()

In [16]:
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh Gunjal', 'BE', 'A+')
(2, 'Rasika Rajguru', 'M Com', 'A++')
(3, 'Sushma Patil', 'MBA', 'A++')

In [17]:
cursor.execute('''
    update students
    set grade = 'Excellent'
    where id=1
''')

connection.commit()

In [18]:
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ganesh Gunjal', 'BE', 'Excellent')
(2, 'Rasika Rajguru', 'M Com', 'A++')
(3, 'Sushma Patil', 'MBA', 'A++')

### Finally closing all the connections after performing operation:-

In [19]:
connection.close()

### We cant peform any operation after closing the connection.